<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="sass/main.css" type="text/css" rel="stylesheet" />
    <title>#{title}</title>
</head>
<body>
    <div class="profile_body">
        <div class="profile_container">
            <h1 class="profile_heading">
                p Profile
            </h1>
            <div class="profile_photo">
                //- <img src="images/profile.jpg" alt="profile" class="profile_image">
                -if(user.photo==='default')
                    img(src=`/images/users/${user.photo}.jpg` alt="profile" class="profile_image")
                -else
                    img(src=`/images/users/${user.photo}` alt="profile" class="profile_image")
            </div> 
            <div class="profile_details">
                <span class="profile_name">Name: #{user.name}</span>
                <span class="profile_mail">Email: #{user.email}</span>
                .try
                    -if(user.firsttime==false)
                        <span class="testmarks">Marks: #{user.marks}/10</span>
            </div>
            <div class="question_container question"> 
                -if(user.firsttime==true)
                    p Haven't taken any quiz yet?
            </div>
            //-  <p class="question">Haven't taken any quiz yet?</p>
            //- <button class="loginBtn profileTestBtn">Start the Test &rarr;</button>
            .button_container
                -if(user.firsttime===true)
                    <a class="loginBtn profileTestBtn profile_link" href="/qanda">Start the Test &rarr;</a>
                -else
                    <a class="loginBtn profileTestBtn profile_link" href="/qanda">Retake Test &rarr;</a>
            <a href="/" class="gotohomePageLink profile_gotohome">&larr; Go To Home Page</a>
        </div>
    </div>

    <script src="js/bundle.js"></script>
</body>
</html>